html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-attachment: scroll;
	background-color: #000;
	background-image: url(../images/new-york.jpg);
	background-position: center 20%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 14px;
}

body, input {
	font-family: 'Titillium Web', sans-serif;
}

a {
	cursor: pointer;
}

a:active{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled,
.freezed {
	cursor: default;
}

.disabled {
	opacity: 0.4;
}

p {
	padding: 0;
	margin: 0;
}

.content {
	box-sizing: border-box;
	height: 100%;
	padding: 40px;
}

.relative {
	position: relative;
}

.left-top {
	left: 0;
	position: absolute;
	top: 0;
}

.views {
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
}

.view {
	box-sizing: border-box;
	display: none;
	height: 100%;
	padding: 40px;
	width: 100%;
}

.box {
	background: rgba(0, 0, 0, 0.85);
	border-radius: 20px;
	padding: 10px;
}

.view.loading {
	background-attachment: scroll;
	background-image: url('../images/loading.svg');
	background-position: right 20px top 20px;
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

.view footer {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.option {
	background: rgba(255, 255, 0, 0.2);
	border-radius: 10px;
	display: block;
	padding: 10px;
	transition: background-color 0.2s;
}

.option:not(:first-child) {
	margin-top: 10px;
}

.fading {
	transition: opacity 1s;
}

.faded-out {
	opacity: 0;
}

.option:not(.freezed):hover {
	background: rgba(255, 255, 0, 0.4);
}

.question-wrapper {
	width: 100%;
}

.checked {
	background: rgba(123, 255, 0, 0.5);
}

.checked:not(.freezed):hover {
	background: rgba(123, 255, 0, 0.7);
}

.button {
	background: #048;
	color: #fff;
	display: inline-block;
	padding: 10px;
	transition: background-color 0.2s;
}

.button:not(.disabled):hover {
	background: #08f;
}

.button-success {
	background: #080;
}

.button-success:not(.disabled):hover {
	background: #0d0;
}

.quiz-details {
	display: inline-block;
	vertical-align: middle;
}

.quiz-icon {
	background-attachment: scroll;
	background-color: #fff;
	background-origin: content-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
}

.quizzes .quiz-icon {
	height: 60px;
	margin-right: 20px;
	padding: 14px;
	vertical-align: middle;
	width: 60px;
}

.quizzes .title {
	font-size: 24px;
}

.quizzes .grade {
	bottom: -5px;
	color: rgba(255, 255, 0, 0.4);
	font-size: 3em;
	position: absolute;
	right: 5px;
}

.full-wrapper {
	display: table;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.full-content {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.intro-content .quiz-icon {
	height: 240px;
	margin-bottom: 10px;
	padding: 50px;
	width: 240px;
}

.intro-content .title {
	font-size: 4em;
}

.intro-content .description {
	font-size: 1.5em;
}

.intro-content .take-quiz {
	font-size: 2em;
	margin-top: 50px;
}

.intro-content .see-results {
	margin-top: 50px;
}

.quiz-results-time,
.quiz-results-score {
	display: inline-block;
}

.quiz-score {
	background: rgba(255, 255, 0, .4);
	display: inline-block;
	font-weight: bold;
	margin: 0 5px;
	padding: 5px;
}

.quiz-score:after {
	content: '%';
}

.main-header {
	font-size: 2em;
	margin-bottom: 20px;
}

.question {
	font-size: 2em;
	margin-bottom: 10px;
}

code {
	background: rgba(0, 0, 0, .95);
	color: rgba(255, 255, 0, .6);
	display: inline-block;
	font-family: monospace;
	font-size: .9em;
	margin: 0 5px;
	padding: .6em .8em;
	vertical-align: middle;
}

.quiz-header {
	margin-bottom: 20px;
}

.quiz-header .quiz-icon {
	height: 100px;
	margin-right: 20px;
	padding: 22px;
	vertical-align: middle;
	width: 100px;
}

.quiz-header .quiz-info {
	display: inline-block;
	vertical-align: middle;
}

.quiz-header .title {
	font-size: 3em;
}

.quiz-header .description {
	position: relative;
	top: -10px;
}

.answer {
	overflow: hidden;
	padding: 0;
}

.key-hint {
	background: rgba(255, 123, 0, 0.5);
	display: inline-block;
	margin-right: 20px;
	padding: 10px 18px;
	text-align: center;
}

.checked .key-hint {
	background: rgba(123, 255, 0, 0.5);
}

.solved:after {
	bottom: -3px;
	color: rgba(255, 255, 255, 0.4);
	font-size: 1.5em;
	position: absolute;
	right: 5px;
}

.correct:after {
	content: '✓';
}

.wrong:after {
	content: "✗";
}

.hint {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 1.2em;
	letter-spacing: 2px;
	margin-top: 30px;
	position: absolute;
	right: 20px;
}

.hint:before {
	background-image: url('../images/bulb.svg');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
	content: '';
	display: inline-block;
	height: 40px;
	width: 50px;
	position: relative;
	top: -2px;
	vertical-align: bottom;
}

.message-loading {
	font-size: 3em;
	text-align: center;
}

.quiz-results {
	margin-top: 20px;
}

.authentication-forms {
	border-spacing: 20px;
	display: table;
	margin: 0 auto;
}

.log-in-form,
.register-block,
.register-form {
	background: rgba(255, 255, 255, .08);
	box-sizing: border-box;
	display: table-cell;
	margin: 0 10px;
	padding: 50px;
	vertical-align: middle;
	text-align: center;
}

.log-in-form {
	width: 500px;
}

.register-block {
	width: 400px;
}

.register-form {
	display: inline-block;
	margin: 0 auto;
	width: 500px;
}

.log-in-form .email,
.log-in-form .password,
.register-form .email,
.register-form .password,
.register-form .first-name,
.register-form .last-name {
	width: 100%;
}

.log-in-form .password,
.register-form .password,
.register-form .first-name,
.register-form .last-name {
	margin-top: 10px;
}

.log-in-form .log-in,
.register-form .register {
	margin-top: 50px;
}

.me {
	font-size: 1.2em;
	position: absolute;
	right: 65px;
	top: 32px;
}

.my-first-name,
.my-last-name {
	display: inline-block;
}

.my-last-name {
	color: rgba(255, 255, 255, .3);
}

.my-first-name {
	color: rgba(255, 255, 255, .5);
}

.log-out {
	background: rgba(255, 255, 255, .2);
	border-radius: 50%;
	color: rgba(255, 255, 255, .5);
	display: inline-block;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 35px;
	text-align: center;
	top: 35px;
	width: 20px;
}

.log-out:before {
	content: "\2716";
	position: relative;
}

.log-out:hover {
	background: rgba(255, 255, 255, .3);
	color: rgba(255, 255, 255, .6);
}

input[type=text],
input[type=password],
input[type=email] {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 20px;
	box-sizing: border-box;
	color: #fff;
	font-size: 1.2em;
	outline: 0;
	padding: 8px 20px;
	transition: background-color 0.2s;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
	background: rgba(255, 255, 0, 0.2);
}

::-webkit-input-placeholder {
	opacity: 0.4;
}

::-moz-placeholder {
	opacity: 0.4;
}

::-ms-placeholder {
	opacity: 0.4;
}

::selection {
	background: #ff0;
}

.hidden {
	display: none;
}
